In [17]:
# checking the stationarity of the time series for sentiment

In [18]:
# importing the required packages

In [19]:
%matplotlib inline
import os  
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
import statsmodels.api as sm  
import seaborn as sb

In [20]:
# loading in the data

In [21]:
sen = pd.read_csv("sentiment_time_series_daily_nicedates.csv", parse_dates=['numdate'])

In [22]:
sen

       numdate  polarity
0   2021-01-01  0.141887
1   2021-01-02  0.135900
2   2021-01-03  0.092649
3   2021-01-04  0.099399
4   2021-01-05  0.118021
..         ...       ...
342 2021-12-27  0.121795
343 2021-12-28  0.095049
344 2021-12-29  0.114317
345 2021-12-30  0.087820
346 2021-12-31  0.114764

[347 rows x 2 columns]

In [23]:
# importing the ADF test

In [24]:
from statsmodels.tsa.stattools import adfuller

In [25]:
# defining the adf test for my data, and telling the function to print the DF stat, p and critical values, and using a for loop for the 4th result
# indicating the unit (%) and the number of decimal places:

In [26]:
def adf_test(sen):
    result = adfuller(sen.values)
    print('ADF Statistics: %f' % result[0])
    print('p-value: %f' % result[1])
    print('Critical values:')
    for key, value in result[4].items():
        print('\t%s: %.3f' % (key, value))

In [27]:
# performing the first DF test:

In [29]:
print('ADF Test: sentiment time series')
adf_test(sen['polarity'])

ADF Test: sentiment time series
ADF Statistics: -18.764854
p-value: 0.000000
Critical values:
	1%: -3.449
	5%: -2.870
	10%: -2.571

In [30]:
# with the p-value below 0.05, it appears that the dataset is already stationary at the 5% significance level.